.featureContainer {
    margin-top: -275px;
    background-color: var(--veryLightGray);
    padding: 120px 120px 120px 120px;

    .container {
        display: flex;
        margin-top: 40px;
        gap: 40px;
    }
}

.title {
    font-size: 40px;
    color: var(--darkBlue);
    padding-bottom: 30px;
}

.featureText {
    font-size: 18px;
  color: var(--grayishBlue);
  line-height: 1.4;
}


@media screen and (max-width: 1100px) {
    .featureContainer {
        margin-top: 0;
        padding: 80px 20px 80px 20px;
        text-align: center;

        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}