.articleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    > img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 10px 10px 0px 0px;
        
    }

    .articleAuthor {
        font-size: 12px;
        color: var(--grayishBlue);
        padding: 35px 0px 15px 25px;
    }

    .articleTitle {
        font-size: 20px;
        padding: 0px 35px 15px 25px;
        color: var(--darkBlue);
    }

    .articleText {
        font-size: 12px;
        color: var(--grayishBlue);
        padding: 0px 35px 35px 25px;
    }
}