header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    gap: 50px;
    background-color: var(--white);
}


.mobileMenuButton {
    display: none;
}



@media screen and (max-width: 1000px) {
    .mobileMenuButton {
        display: block;
        background: none;
        border: none;

        img {
            width: 30px;
        }
    }

    header {
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }

    header > .requestButton {
        display: none;
    }
}